* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 5rem;
}

.strikkecafe {
  display: flex;
  margin-top: 50px;
}

h2 {
  padding-top: 1rem;
}

hr {
  height: 5px;
  background-color:  white;
  border: none;
}

label,
input,
button,
textarea,
select {
  display: block;
}

.fornavn,
.efternavn,
.mail {
  font-family: "Roboto", sans-serif;
}

.tilmeld {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.bekræft {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 800px) {
  .strikkecafe {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }
}

/* @media (min-width: 650px) {
  section#strikkecafeen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }


