* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  padding-top: 30px;
  padding-bottom: 15px;
}

.vælgdato {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.bekræft {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  padding-top: 5rem;
}

.strikkecafe {
  display: flex;
  margin-top: 50px;
}

/* @media (min-width: 650px) {
  section#strikkecafeen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

/* label,
input,
button,
textarea,
select {
  display: block;
} */
