* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section#produkter {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: 800px;
}

.ting {
  display: flex;
  font-size: 1.5vw;
}

.udvalg_wrapper {
  display: flex;
  font-size: 1vw;
}
