section#produkter {
  display: grid;
  grid-template-rows: 1fr 1fr;
  max-height: 800px;
}

.tekst {
  display: grid;
  grid-column: 1/2;
  grid-row: 1/2;
}

.billede_container {
  display: grid;
  grid-row: 1/2;
}

.udvalg_container {
  display: grid;
  grid-row: 2/3;
}

.udvalg_wrapper {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
