main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

main section {
  grid-column: 2 / 3;
}

main img {
  width: 100%;
}

p {
  margin-bottom: 5%;
}

hr {
  height: 2px;
  border-width: 0;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
}

ul {
  font-family: "Roboto", sans-serif;
}

@media (min-width: 650px) {
  .omega_container {
    display: grid;
    grid-template-columns: minmax(auto, 1200px) minmax(auto, 250px);
    gap: 1rem;
  }

  .mere_info {
    order: 2;
  }
}

/*FARVER*/
.color li {
  height: 55px;
  width: 55px;
}

.color {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
  border-radius: 50%;
}

.color_1 {
  background-image: url(/billeder/baby_merino/22.jpg);
  background-size: cover;
}

.color_2 {
  background-image: url(/billeder/baby_merino/20.jpg);
  background-size: cover;
}

.color_3 {
  background-image: url(/billeder/baby_merino/21-2.jpg);
  background-size: cover;
}

.color_4 {
  background-image: url(/billeder/baby_merino/38-2.jpg);
  background-size: cover;
}

.color_5 {
  background-image: url(/billeder/baby_merino/02-2.jpg);
  background-size: cover;
}

.color_6 {
  background-image: url(/billeder/baby_merino/46-2.jpg);
  background-size: cover;
}

.color_7 {
  background-image: url(/billeder/baby_merino/51-2.jpg);
  background-size: cover;
}

.color_8 {
  background-image: url(billeder/baby_merino/52-2.jpg);
  background-size: cover;
}

.color_1:hover,
.color_2:hover,
.color_3:hover,
.color_4:hover,
.color_5:hover,
.color_6:hover,
.color_7:hover,
.color_8:hover {
  border: 4px solid #ffffff;
}

/*KNAP*/
.kurv_knap {
  background-color: rgb(164, 212, 159);
  border: none;
  color: white;
  padding: 3% 25%;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 5px;
}

.kurv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kurv_knap:hover {
  box-shadow: 0 5px 5px 0 rgba(143, 143, 143, 0.301),
    5px 5px 10px 5px rgba(110, 121, 110, 0.178);
}
