* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

section#produkter {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.ting {
  display: flex;
  font-size: 1.5vw;
  margin-top: 50px;
}

.udvalg_wrapper {
  display: flex;
  font-size: 1vw;
}

@media only screen and (max-width: 800px) {
  .ting {
    display: flex;
    flex-direction: column;
    font-size: 1.5vw;
  }

  .udvalg_wrapper {
    display: flex;
    font-size: 1vw;
  }
}
