main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

main section {
  grid-column: 2 / 3;
}

img {
  width: 100%;
}

hr {
  height: 2px;
  border-width: 0;
  background-color: grey;
  margin-top: 5%;
}

.omega_container {
  display: grid;
  grid-template-columns: minmax(auto, 1200px) minmax(auto, 250px);
  gap: 1rem;
}

.color li {
  height: 55px;
  width: 55px;
}

.color {
  display: flex;
  flex-flow: wrap;
  gap: 5px;
}

.color_1 {
  background-image: url(/billeder/baby_merino/22.jpg);
  background-size: cover;
}

.color_2 {
  background-image: url(/billeder/baby_merino/20.jpg);
  background-size: cover;
}

.color_3 {
  background-image: url(/billeder/baby_merino/21-2.jpg);
  background-size: cover;
}

.color_4 {
  background-image: url(/billeder/baby_merino/38-2.jpg);
  background-size: cover;
}

.color_5 {
  background-image: url(/billeder/baby_merino/02-2.jpg);
  background-size: cover;
}

.color_6 {
  background-image: url(/billeder/baby_merino/46-2.jpg);
  background-size: cover;
}

.color_7 {
  background-image: url(/billeder/baby_merino/51-2.jpg);
  background-size: cover;
}

.color_8 {
  background-image: url(/billeder/baby_merino/52-2.jpg);
  background-size: cover;
}
