* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hr {
  border: none;
  height: 5px;
  background-color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  /* outline: 2px solid red; */
}

.ting {
  display: grid;
  font-size: 1.5rem;
  margin-top: 50px;
  /* outline: 2px solid rgb(30, 255, 0); */
}

.udvalg_wrapper {
  display: flex;
  font-size: 1.2rem;
  margin-top: 60px;
  /* outline: 2px solid rgb(47, 0, 255); */
}

@media only screen and (max-width: 800px) {
  .ting {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
  }

  .udvalg_wrapper {
    display: grid;
    font-size: 1rem;
  }
}

.baby {
  transition: transform 0.2s;
}
.baby:hover {
  transform: scale(1.1);
}

.lace {
  transition: transform 0.2s;
}
.lace:hover {
  transform: scale(1.1);
}

.mille {
  transition: transform 0.2s;
}
.mille:hover {
  transform: scale(1.1);
}

.extra {
  transition: transform 0.2s;
}
.extra:hover {
  transform: scale(1.1);
}
